@import "../../../global/css/variable.css";
@import "../../../global/header/css/header.css";

.container-prof {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 50px;
}
.form-prof {
  display: grid;
  width: 600px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  border: 1px solid var(--gray-primary);
  gap: 20px;
  padding: 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "materia materia"
    "local_inp local_inp"
    "data curso"
    "foto foto"
    "botao botao";
}

.materia {
  grid-area: materia;
  display: grid;
  gap: 10px;
}

.local {
  grid-area: local_inp;
  width: 100%;
  display: grid;
  gap: 10px;
}

span {
  color: var(--black);
}

input,
select {
  border: 1px solid var(--gray-primary);
  background: #fff;
  border-radius: 6px;
  padding: 10px;
}

.data {
  grid-area: data;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-prof {
  border: none;
  color: var(--green-secondary);
  background: none;
  cursor: pointer;
  font-size: 30px;
}

.curso {
  grid-area: curso;
  width: 100%;
  display: grid;
  gap: 5px;
}
.curso > select {
  width: 100%;
}
.botao-container {
  grid-area: botao;
  text-align: end;
}
.botao-container > .button-form {
  border: none;
  padding: 10px 50px;
  border-radius: 32px;
  background: var(--green-secondary);
  color: var(--black);
  cursor: pointer;
}
.botao-container > .button-form:hover {
  background: var(--green-primary);
  color: var(--gray-primary);
}

.foto {
  grid-area: foto;
  margin: auto;
}

.img-label {
  width: 400px;
  @media (max-width: 600px) {
    width: 300px;
  }
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentColor;
  cursor: pointer;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  #img {
    width: 250px;
    text-align: center;
  }
  .img {
    width: 100%;
    object-fit: cover;
  }
}

.img-label:hover {
  color: #999;
  background: #ccc;
}
input[type="file"] {
  display: none;
}
.close {
  border: none;
  color: red;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

#my-dialog {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "input"
    "data"
    "botao";
  width: 600px;
  height: fit-content;
  gap: 20px;
  box-shadow: var(--shadow);
  border: 1px solid var(--gray-primary);
  border-radius: 8px;
}

.input-container {
  grid-area: input;
  display: flex;
  width: 80%;
  gap: 10px;
}

.horario {
  grid-area: horario;
  width: 100%;
  display: grid;
  gap: 10px;
}

.title-data {
  grid-area: title;
  background-color: var(--green-primary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.title-data > h3 {
  color: var(--gray-primary);
}

.form-dia {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
}

.dia-container {
  grid-area: data;
  padding: 20px;
}
#my-dialog > .botao-container {
  grid-area: botao;
  padding: 20px;
}
#listaDias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.remover-dia {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #85a2cd;
}
.dia-semana-li {
  border: 1px solid #85a2cd;
  color: #85a2cd;
  background: rgb(132, 161, 205, 0.2);
  padding: 5px 10px;
  border-radius: 32px;
}

@media (max-width: 1030px) {
  .container-prof {
    gap: 20px;
  }
  #my-dialog {
    width: 500px;
    transition: 0.5s;
  }

  .form-prof {
    width: 500px;
  }
  .img-label {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .container-prof {
    margin: 10px auto;
    gap: 20px;
  }
  #my-dialog {
    width: 350px;
  }
  .input-container {
    flex-wrap: wrap;
    gap: 5px;
  }

  .form-prof {
    width: 350px;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-areas:
      "materia "
      "local_inp "
      "data "
      "curso"
      "foto "
      "botao ";
  }

  .img-label {
    width: 150px;
  }
}
