@import "../../../global/css/variable.css";
@import "../../../global/header/css/header.css";

.card-container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}
.card-container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: min-content;
  gap: 20px;

  align-items: center;
  box-shadow: var(--shadow);
  border-radius: 8px;
}
.img-home-container {
  width: 100%;
  height: 250px;
}
.img-home-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h3 {
  color: var(--black);
  text-align: left;
  padding: 0px 5px;
}
.card p {
  color: var(--black);
}
.card button {
  background: var(--green-secondary);
  border: none;
  color: var(--black);
  padding: 5px 30px;
  border-radius: 32px;
  cursor: pointer;
}
.card button:hover {
  background: var(--green-primary);
  color: var(--gray-primary);
}
