@import "../../../global/css/variable.css";
.container {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "nav main ";
}

.Main-container {
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 80px;
  grid-area: main;
}
/* header */
header {
  grid-area: header;
  background-color: var(--green-primary);
  align-items: center;
}
.img-container {
  background: #fff;
  width: 240px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-primary);
  box-shadow: var(--shadow);
}

img {
  width: 50px;
  padding: 10px;
}
.mobile-button-container {
  display: none;
  width: 50px;
}

#button-mobile {
  font-size: 16px;
  cursor: pointer;
  background: var(--green-primary);
  border: none;
  color: var(--gray-primary);
  border-radius: 4px;
  padding: 5px 10px;
}

/* .bell-container {
  padding-right: 60px;
}
.bell-container i {
  color: var(--gray-primary);
}
.bell-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.notify {
  display: none;
  width: 350px;
  box-shadow: var(--shadow);
  background: #fff;
  position: absolute;
  top: 90px;
  right: 10px;
  color: black;
  padding: 20px;
  border-radius: 8px;
  flex-flow: column;
  gap: 10px;
}
.card-notify {
  border-bottom: 2px solid var(--black);
}
.card-notify p {
  padding: 10px;
} */

/* nav */
nav {
  grid-area: nav;
  background: var(--black);
  display: flex;
  flex-flow: column;
  gap: 60px;
  padding-top: 20px;
}
.user-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: 0 auto;
  gap: 5px;
  border-bottom: 3px solid var(--gray-primary);
}
.user-container img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.user-container p {
  color: var(--gray-primary);
  font-size: x-large;
  padding: 10px;
}
.navigation-container {
  width: 220px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.navigation-container li {
  display: flex;
}
.navigation-container li > a {
  width: 50%;
  color: var(--gray-primary);
  border-bottom: 3px solid var(--gray-primary);
  padding: 5px;
}
.navigation-container li:hover > a {
  width: 100%;
  transition: 0.5s;
}
.button-exit-container {
  width: 220px;
  margin: 0 auto;
}

.button-exit-container > #suap-logout-button {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
  background: var(--gray-primary);
}

.button-exit-container #suap-logout-button:hover {
  background: var(--gray-secondary);
  color: #fff;
}

@media (max-width: 1440px) {
  .Main-container {
    margin: 40px 20px;
  }
}

@media (max-width: 600px) {
  .mobile-button-container {
    display: block;
  }
  .img-container {
    width: 100%;
  }
  .mobile {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 9999;
    top: 70px;
    right: 20px;
    box-shadow: var(--shadow);
  }

  header {
    background: none;
  }

  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "main main";
  }

  .Main-container {
    margin: 20px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  header {
    background: none;
  }
  .img-container {
    width: 100%;
  }
}
