@import "../../../global/css/variable.css";
@import "../../../global/header/css/header.css";

.Main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
#modal-change-image {
  display: none;
  position: absolute;
  left: 20%;
  z-index: 100;
}

.password-container {
  max-width: 90%;
  box-shadow: var(--shadow);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--gray-primary);
}
.perfil-container {
  max-width: 90%;
  box-shadow: var(--shadow);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--gray-primary);
}

h3 {
  text-align: center;
  color: var(--gray-secondary);
}
.perfil-container .input-perfil-container {
  display: grid;
  grid-template-columns: repeat(2, auto);

  @media (max-width: 800px) {
    grid-template-columns: auto;
  }
  gap: 50px;
}

.perfil-container .input-perfil-container label,
.password-container > label {
  width: 100%;
  display: grid;
  gap: 10px;
}
.perfil-container .input-perfil-container label > span,
.password-container > span {
  color: var(--black);
}

.perfil-container label > input,
.password-container input {
  border: 1px solid var(--gray-primary);
  background: #fff;
  border-radius: 6px;
  padding: 10px;
}

.button-perfil-container {
  display: flex;
  justify-content: end;
}
.button-perfil-container .button-perfil {
  border: none;
  padding: 10px 100px;
  border-radius: 32px;
  background: var(--green-secondary);
  color: var(--black);
  cursor: pointer;
}

.password-container .button-perfil {
  padding: 10px 50px;
}
.button-perfil-container .button-perfil:hover {
  background: var(--green-primary);
  color: var(--gray-primary);
}

.perfil-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-button-container {
  position: relative;
}

.image-button-container > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.button-image {
  display: none;
  position: absolute;
  top: 15px;
  left: 17px;
  font-size: 80px;
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
}

.image-button-container:hover > .button-image {
  display: block;
  opacity: 60%;
}
.image-button-container:hover > img {
  opacity: 80%;
}

#modal-mudar-foto {
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 20px;
  box-shadow: var(--shadow);
  width: 600px;
  padding: 20px;
}
.button-modal-container {
  display: flex;
  justify-content: space-between;
}

.alterar-button {
  border: none;
  padding: 10px 100px;
  border-radius: 32px;
  background: var(--green-secondary);
  color: var(--black);
  cursor: pointer;
}

.alterar-button:hover {
  background: var(--green-primary);
  color: var(--gray-primary);
}

.close {
  border: none;
  color: red;
  background: none;
  cursor: pointer;
  font-size: 30px;
}

/* image */

.foto {
  grid-area: foto;
  margin: auto;
}

.img-label {
  width: 400px;
  @media (max-width: 600px) {
    width: 300px;
  }
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentColor;
  cursor: pointer;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  #img {
    width: 250px;
    text-align: center;
  }
  .img {
    width: 100%;
    object-fit: cover;
  }
}

.img-label:hover {
  color: #999;
  background: #ccc;
}
input[type="file"] {
  display: none;
}
@media (max-width: 1024px) {
  #modal-mudar-foto {
    width: 400px;
  }
}

@media (max-width: 800px) {
  #modal-change-image {
    left: 5%;
  }
}

@media (max-width: 600px) {
  #modal-mudar-foto {
    width: 350px;
  }
  .perfil-container {
    padding: 20px;
  }
  .button-perfil-container .button-perfil {
    padding: 10px 80px;
  }
}
