@import "../../../global/css/variable.css";
@import "../../../global/header/css/header.css";

.form-cadastro {
  width: 600px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cad-title {
  background: var(--green-primary);
  color: var(--gray-primary);
  text-align: center;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.form-cadastro .cad-input-container {
  display: grid;
  padding: 20px;
  gap: 50px;
}

.form-cadastro .cad-input-container label {
  width: 100%;
  display: grid;
  gap: 10px;
}
.form-cadastro .cad-input-container label > span {
  color: var(--black);
}

.form-cadastro label > input,
select {
  border: 1px solid var(--gray-primary);
  background: #fff;
  border-radius: 6px;
  padding: 10px;
}

.button-perfil-container {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.button-perfil-container .button-perfil {
  border: none;
  padding: 10px 100px;
  border-radius: 32px;
  background: var(--green-secondary);
  color: var(--black);
  cursor: pointer;
}
.button-perfil-container .button-perfil:hover {
  background: var(--green-primary);
  color: var(--gray-primary);
}

@media (max-width: 600px) {
  .button-perfil-container .button-perfil {
    padding: 10px 80px;
    margin: 0 auto;
  }

  .form-cadastro {
    width: 350px;
    border-radius: 8px;
    gap: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 120px;
  }
  .Main-container {
    margin: 0 auto;
  }
}
